<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'logout' %}"> Logout</a>
    <a href="{% url 'view-alluser' %}"> View Stuff And Empoyee</a>
    <br>
    <br>
    <form method="POST" action="{% url 'create-user' %}">
        {% csrf_token %}
        <label> Firstname </label>
        <input type="text" name="first_name" placeholder="First Name"> <br> <br>
        <label> Lastname: </label>
        <input type="text" name="last_name" required /> <br> <br>

        
        <br>
        <br>
        <label>
            Select User Type:
        </label><br>
        <input type="radio" name="role" value="EMPLOYEE" required/> Employee<br>
        <input type="radio" name="role" value="STAFF" required/> Staff <br>
        <br>
        <br>

        
        <br> <br>
           Email:
        <input type="email"  name="email" required/> <br>
        <br> <br>
           Password:
        <input type="Password"  name="password" required> <br>
        <br> <br>
        
        <input type="submit" value="Submit" />
    </form>
</body>

</html>