<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for i in assets %}
      <p>{{ i.assets_name }}</p>
      <img src="{{ i.image }}" alt="">
      <br>

      <form method ="POST" action="{% url 'request-assets' %}">
          {% csrf_token %}
          <input type="text" placeholder="request reason" name="request_reason">
          <input type="number" hidden name="id" value="{{ i.id }}">
          <input type="submit" name="request" value="request">
      </form>
    {% endfor %}
    
</body>
</html>